.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 130px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 81px;
  height: 81px;
  background-image: url("images/avatar.png");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -52px 133px 0 838px;
}

.u-section-1 .u-text-2 {
  margin: 0 133px 0 838px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 34px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.75rem;
  padding: 3px 38px 5px 36px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.75rem;
  padding: 6px 30px 8px;
}

.u-block-0538-47 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -51px;
    margin-right: 110px;
    margin-left: 738px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 33px;
    margin-left: 738px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 551px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 551px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 411px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 411px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 68px;
    margin-left: 211px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 211px;
  }
}