{% extends "index.html" %}


{% block title %}Acerca de nosotros {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/Acerca-de.css" media="screen">
{% endblock style %}

{% block content %}
    <section class="u-clearfix u-section-1" id="carousel_ad0c">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h1 class="u-text u-text-default u-text-1">Nosotros</h1>
            <h6 class="u-custom-font u-text u-text-font u-text-grey-50 u-text-2">Just it Up, es más que un restaurante de bebidas, es un lugar mágico ubicado en una de las zonas costeras más atractivas de Colombia que busca generar encuentros familiares, de amigos, compañeros de trabajo, visitantes entre otros. Donde se vive de un ambiente según la ocasión, con bebidas refrescantes, cocteles tradicionales de cada una de las regiones del país, sabores innovadores y una bella vista para compartir atardeceres o noches bajo un cielo despejado junto a la playa.</h6>
            <p class="u-text u-text-3">Nuestra carta es variada y está a la disponibilidad según los gustos de nuestros clientes, constantemente mediante la creatividad e innovación se generan nuevos cocteles, jugos u otros según las tendencias del mundo actual.  &nbsp;&nbsp;</p>
            <p class="u-text u-text-4">Cada bebida de Just it Up trae consigo la inclusión de la cultura Colombia resaltando lo mejor de cada región, resaltando las bebidas típicas y comunes para cada ocasión.</p>
            <a href="{{ url_for('contacto') }}" class="u-active-black u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-2 u-text-active-white u-text-hover-white u-btn-2">Contacte con nosotros</a>
          </div>
        </div>
        <img src="../static/images/rrrrr-min.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1500" data-image-height="1000">
        <div class="u-container-style u-group u-palette-2-base u-group-2">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h6 class="u-text u-text-default u-text-5">Correo Electrónico</h6>
            <a href="mailto:juiceitup@gmail.com" class="u-active-none u-border-1 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-none u-none u-radius-0 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-3">juiceitup@gmail.com</a>
            <h6 class="u-text u-text-default u-text-6">Teléfono</h6>
            <a href="tel:+57234546345" class="u-active-none u-border-1 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">(+57) 234 546 345</a>
            <h6 class="u-text u-text-default u-text-7">Ubicación</h6>
            <p class="u-text u-text-default u-text-8"> Cra. 3 #18-39, San Andrés, San Andrés y Providencia</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
 
