{% extends "index.html" %}


{% block title %}Acerca de nosotros {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/Acerca-de.css" media="screen">
{% endblock style %}

{% block content %}
    <section class="u-clearfix u-section-1" id="carousel_ad0c">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h1 class="u-text u-text-default u-text-1">About Company</h1>
            <h6 class="u-custom-font u-text u-text-font u-text-grey-50 u-text-2">Dignissim enim sit amet venenatis urna cursus. Vitae sapien pellentesque habitant morbi tristique senectus et.</h6>
            <p class="u-text u-text-3">Aenean sed adipiscing diam donec adipiscing tristique risus. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Id semper risus in hendrerit gravida rutrum. Vel pharetra vel turpis nunc eget lorem. Egestas congue quisque egestas diam&nbsp;&nbsp;</p>
            <p class="u-text u-text-4">Imagen de <a href="https://www.freepik.com/photos/business" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" target="_blank">Freepik</a>
            </p>
            <a href="{{ url_for('contacto') }}" class="u-active-black u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-2 u-text-active-white u-text-hover-white u-btn-2">Contacte con nosotros</a>
          </div>
        </div>
        <img src="../static/images/rrrrr-min.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1500" data-image-height="1000">
        <div class="u-container-style u-group u-palette-2-base u-group-2">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h6 class="u-text u-text-default u-text-5">email</h6>
            <a href="mailto:adrian@yourwebsite.com" class="u-active-none u-border-1 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-none u-none u-radius-0 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-3">agency@yourwebsite.com</a>
            <h6 class="u-text u-text-default u-text-6">Phone</h6>
            <a href="tel:+987987654321" class="u-active-none u-border-1 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">(+987) 987 654 321</a>
            <h6 class="u-text u-text-default u-text-7">Location</h6>
            <p class="u-text u-text-default u-text-8"> 28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
 
