{% extends "index.html" %}


{% block title %} Agregar Bebida {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/registro.css" media="screen">
    <script src="../static/js/biojoe.js"></script>
{% endblock style %}

{% block content %}
  

    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-2791">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="650">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-29 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">Formulario Agregar Bebida</h3>
                  <div class="u-expanded-width-xs u-form u-login-control u-form-1">

                    <form method="POST" source="custom" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" name="formRegistro" style="padding: 0px;" onSubmit="validar_formulario();">
                      <div class="u-form-group u-form-name u-block-16c8-4">
                        <label for="name-c23e" class="u-form-control-hidden u-label u-block-16c8-5"></label>
                        <input type="text" placeholder="Nombre de la bebida" id="name-c23e" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-16c8-6" required="">
                      </div>
                      <div class="u-form-group u-block-16c8-7">
                        <label for="email-c23e" class="u-form-control-hidden u-label u-block-16c8-8"></label>
                        <input type="text" placeholder="Ingrese el precio" id="email-c23e" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-16c8-9" required="required">
                      </div>
                      <div class="u-form-group u-form-message u-block-16c8-10">
                        <label for="message-c23e" class="u-form-control-hidden u-label u-block-16c8-11"></label>
                        <textarea placeholder="Ingrese la descripción" rows="4" cols="50" id="message-c23e" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-16c8-12" required=""></textarea>
                      </div>
                      <div class="u-form-checkbox u-form-group u-block-16c8-15">
                      <input type="checkbox" id="checkbox-e9ee" name="checkbox" value="On" required="required" autofocus="autofocus">
                      <label for="checkbox-e9ee" class="u-label u-block-16c8-16">Disponibilidad</label>
                      <div class="u-align-center u-form-group u-form-submit">
                        <button type="submit" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
