{% extends "index.html" %}


{% block title %} Agregar Bebida {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/registro.css" media="screen">
    <script src="../static/js/biojoe.js"></script>
{% endblock style %}

{% block content %}
  

    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-2791">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="650">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-29 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">Formulario Agregar Bebida</h3>
                  <div class="u-expanded-width-xs u-form u-login-control u-form-1">

                    <form method="post" action="/addBebida" id="formulario" novalidate>
                      {{ form.hidden_tag() }}

                      <div class="u-form-group u-form-name u-block-16c8-4">
                        {{form.nombre.label}}:
                        {{form.nombre}}
                        <br><br>
                      </div>
                      <div class="u-form-group u-form-name u-block-16c8-4">
                        {{form.precio.label}}:
                        {{form.precio}}
                        <br><br>
                      </div>
                      <div class="u-form-group u-form-name u-block-16c8-4">
                        {{form.descripcion.label}}:
                        {{form.descripcion(cols="30", rows="3") }}
                        <br><br>
                      </div>
                      <div class="u-form-group u-form-name u-block-16c8-4">
                        {{form.estado.label}}:
                        {{form.estado}}
                        <br><br>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        {{form.enviar}}
                      </div>

                    </form>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
