{% extends "index.html" %}


{% block title %} Editar bebida {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/usuario_update_form.css') }}" media="screen">
    <script src="{{ url_for('static', filename='js/biojoe.js') }}"></script>    
{% endblock style %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-b3eb">
      <div class="u-align-left u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="512" data-image-height="512"></div>
                      <p class="u-small-text u-text u-text-variant u-text-1">BIENVENIDO</p>
                      <p class="u-small-text u-text u-text-variant u-text-2">{{session["nombre"]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-13 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <ul class="u-custom-list u-text u-text-default u-text-3">

                        {% if session["super"] == 1 or session["admin"] == 1 %}
                        <li>
                          <div class="u-list-icon">
                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">➤</div>
                          </div>
                          <a href="{{ url_for('getBebidas') }}"> Menú</a>
                        </li>
                        <li>
                          <div class="u-list-icon">
                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">➤</div>
                          </div>
                          <a href="{{ url_for('listPedidos') }}"> Pedidos solicitado</a>
                        </li>
                        {% endif %}

                        <li>
                          <div class="u-list-icon">
                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">➤</div>
                          </div>
                          <a href="{{ url_for('getUsuarios') }}"> Usuarios</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-47 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <h3 class="u-text u-text-default u-text-4">Editar bebida</h3>
                      <div class="u-form u-form-1">
                        {% for r in row %}
                        <form method="POST" source="custom" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" name="formUpdateB" style="padding: 10px;" onSubmit="validar_formulario();">
                          <div class="u-form-group u-form-name u-form-group-1">
                            <label for="name-b527" class="u-form-control-hidden u-label"></label>
                            <input type="text" placeholder="Nombre bebida" id="name-b527" name="nombre" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value="{{ r ["nombreBebida"] }}">
                          </div>
                          <div class="u-form-group u-form-message u-form-group-2">
                            <label for="message-e1a1" class="u-form-control-hidden u-label"></label>
                            <textarea rows="4" cols="50" placeholder="Descripción" id="message-e1a1" name="descripcion" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">{{ r ["descripcion"] }}</textarea>
                          </div>
                          <div class="u-form-group u-form-group-3">
                            <label for="text-9ec3" class="u-form-control-hidden u-label"></label>
                            <input type="text" placeholder="Precio" id="text-9ec3" name="precio" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value="{{ r ["precio"] }}">
                          </div>
                          <div class="u-form-group u-form-group-4">
                            <label for="text-4441" class="u-form-control-hidden u-label"></label>
                            <input type="text" placeholder="Disponibilidad" id="text-4441" name="disponibilidad" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value="{{ r ["estado"] }}">
                          </div>
                          <div class="u-align-left u-form-group u-form-submit">
                            <button type="submit" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">Guardar</button>
                          </div>
                        </form>
                        {% endfor %}
                      </div>
                      <a href="{{ url_for('getBebidas') }}" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-2-base u-radius-21 u-btn-2">Cancelar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}