{% extends "index.html" %}


{% block title %} Compra {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/compra.css') }}" media="screen">
{% endblock style %}

{% block content %}
<section class="u-clearfix u-grey-5 u-section-1" id="sec-6ade">
  <div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h3 class="u-text u-text-default u-text-1">Tu pedido</h3>

              <form method="post" action="{{ url_for('compra') }}">
             {% for r in row %}
              <h4 class="u-text u-text-default u-text-2">{{ r["nombre"] }}</h4>
              <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                <input name="numero{{ r["id"] }}" id="numero{{ r["id"] }}" class="monto" type="number" value="{{ r["precio"] }}" min="{{ r["precio"] }}" placeholder="{{ r["precio"] }}" step="{{ r["precio"] }}" style="width : 80px; color:black" onchange="sumar(this.value);">
              </span>
              <h5 class="u-text u-text-default u-text-4 small">$ {{ r["precio"] }}</h5>
              <a href="#" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-2-base u-radius-50 u-btn-1">Eliminar</a>
              {% endfor %}

              <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
              <h4 class="u-text u-text-default u-text-8">Subtotal</h4>
              <h4 class="u-text u-text-default u-text-9">$ <input type="number" id="subtotal" value="0" readonly style="width : 100px; color:black"/></h4>
              <h4 class="u-text u-text-default u-text-10">Precio entrega</h4>
              <h4 class="u-text u-text-default u-text-11">$ <input type="number" id="entrega" value="5000" readonly style="width : 100px; color:black"/></h4>
              <h4 class="u-text u-text-default u-text-12">Total</h4>
              <h4 class="u-text u-text-default u-text-13">$ <input type="number" id="total" name="total" value="0" readonly style="width : 100px; color:black"/></h4>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <h3 class="u-text u-text-default u-text-14">Detalles del pedido</h3>
              <h4 class="u-text u-text-default u-text-15">Nombre</h4>
              <h4 class="u-text u-text-default u-text-16">{{session["nombre"]}}</h4>
              <h4 class="u-text u-text-default u-text-17">Correo:</h4>
              <h4 class="u-text u-text-default u-text-18">{{session["email"]}}</h4>
              <h4 class="u-text u-text-default u-text-19">Teléfono:</h4>
              <h4 class="u-text u-text-default u-text-20">{{session["telefono"]}}</h4>
              <h4 class="u-text u-text-default u-text-21">Dirección:</h4>
              <h4 class="u-text u-text-default u-text-22">{{session["direccion"]}}</h4>
              
              <h4 class="u-text u-text-default u-text-23"><a href="{{ url_for('update_user') }}" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-base u-radius-50 u-btn-3">Editar detalle</a>
              </h4>
              <h4 class="u-text u-text-default u-text-23">
              <button onclick="alert('pedido exitoso')" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-base u-radius-50 u-btn-5">CONFIRMAR COMPRA</button>
            </h4>
          </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  /* Funcion suma. */
  function sumar(){
      let entrega = document.getElementById("entrega").value;
      const $sub_total = document.getElementById('subtotal');
      const $total = document.getElementById('total');
      let subtotal = 0;
      [ ...document.getElementsByClassName( "monto" ) ].forEach( function ( element ) {
        if(element.value !== '') {
          subtotal += parseFloat(element.value);
        }
      });
      $sub_total.value = subtotal;
      $total.value = subtotal + parseFloat(entrega);
    }
  </script>
{% endblock content %}
