{% extends "index.html" %}


{% block title %} Contacto {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/contacto.css" media="screen">
{% endblock style %}

{% block content %}
    <section class="u-clearfix u-white u-section-1" id="carousel_a623">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-grey-5 u-layout-cell u-right-cell u-shape-rectangle u-size-33 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-expanded-width u-form u-form-1">
                    <form action="#" method="POST" class="u-clearfix u-form-spacing-19 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                      <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-daf4" class="u-form-control-hidden u-label">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-daf4" name="name" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-form-group-2">
                        <label for="email-daf4" class="u-form-control-hidden u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-daf4" name="email" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-phone u-form-group-3">
                        <label for="phone-42da" class="u-form-control-hidden u-label"></label>
                        <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone (e.g. +14155552675)" id="phone-42da" name="phone" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message u-form-group-4">
                        <label for="message-daf4" class="u-form-control-hidden u-label">Message</label>
                        <textarea placeholder="" rows="4" cols="50" id="message-daf4" name="message" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                        <a href="#" class="u-active-grey-70 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-70 u-palette-2-base u-radius-2 u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-27 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h6 class="u-text u-text-palette-2-base u-text-1">call us</h6>
                  <p class="u-text u-text-2">1 (234) 567-891<br>1 (234) 987-654
                  </p>
                  <h6 class="u-text u-text-palette-2-base u-text-3">location</h6>
                  <p class="u-text u-text-4">121 Rock Sreet, 21 Avenue,<br>New York, NY 92103-9000
                  </p>
                  <h6 class="u-text u-text-palette-2-base u-text-5">top services</h6>
                  <ul class="u-custom-list u-text u-text-6">
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div> Pre Design
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Schematic Design
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Design Development
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Engineering Consultants
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
