{% extends "index.html" %}


{% block title %} Contacto {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/contacto.css" media="screen">
    <script src="{{ url_for('static', filename='js/biojoe.js') }}"></script>
{% endblock style %}

{% block content %}
    <section class="u-clearfix u-white u-section-1" id="carousel_a623">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-grey-5 u-layout-cell u-right-cell u-shape-rectangle u-size-33 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-expanded-width u-form u-form-1">
                    <form action="" method="POST" source="custom" name="formContacto" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 0px;" onSubmit="validar_formulario();">
                      <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-daf4" class="u-form-control-hidden u-label">Nombre</label>
                        <input type="text" placeholder="Nombre" id="name-daf4" name="nombre" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-form-group-2">
                        <label for="email-daf4" class="u-form-control-hidden u-label">Correo Electrónico</label>
                        <input type="email" placeholder="Email" id="email-daf4" name="email" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-phone u-form-group-3">
                        <label for="phone-42da" class="u-form-control-hidden u-label"></label>
                        <input type="tel" pattern="[0-9]{10}" placeholder="Teléfono/Celular" id="phone-42da" name="telefono" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message u-form-group-4">
                        <label for="message-daf4" class="u-form-control-hidden u-label">Mensaje</label>
                        <textarea placeholder="" rows="4" cols="50" id="message-daf4" name="mensaje" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                        <button class="u-active-grey-70 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-70 u-palette-2-base u-radius-2 u-btn-1">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-27 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h6 class="u-text u-text-palette-2-base u-text-1">Llamanos</h6>
                  <p class="u-text u-text-2">+57 234 546 345<br> 03125863212
                  </p>
                  <h6 class="u-text u-text-palette-2-base u-text-3">Ubicación</h6>
                  <p class="u-text u-text-4">Cra. 3 #18-39,<br>San Andrés, San Andrés y Providencia
                  </p>
                  <h6 class="u-text u-text-palette-2-base u-text-5">Servicios</h6>
                  <ul class="u-custom-list u-text u-text-6">
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div> Celebraciones - Festividades 
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Domicilio - tu bebida en la puerta de tu casa
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Bebidas personalizadas al gusto del cliente
                    </li>
                    <li>
                      <div class="class u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">✔</div>
                      </div>Venta al por mayor y al detal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
