{% extends "index.html" %}


{% block title %} Menú {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/menu_list.css" media="screen">
{% endblock style %}

{% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="carousel_4876">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-custom-font u-text u-text-default u-text-1">MENÚ DE BEBIDAS</h1>
        <p class="u-text u-text-2">You're gonna need two hands to hold our toasted buns. Our fresh, juicy burgers are served up medium-well with a side of fries and a whole lot of flavor.</p>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-right u-container-style u-image u-list-item u-repeater-item u-shading u-video-cover u-image-1" data-image-width="1200" data-image-height="650">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-35 u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h4 class="u-text u-text-3">Margarita</h4>
                    <h6 class="u-text u-text-palette-3-base u-text-4">$8.50</h6>
                    <a href="https://nicepage.com/c/full-width-slider-html-templates" class="u-btn u-btn-rectangle u-button-style u-palette-3-base u-btn-1">Agrgar al pedido</a>
                    <a href="detalle_plato" class="u-btn u-btn-rectangle u-button-style u-palette-3-base u-btn-1">Ver detalle del plato</a>                  

                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-right u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="640" data-image-height="427">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-3">
                <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-35 u-video-cover u-group-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h4 class="u-text u-text-5">Vino tinto seco spell</h4>
                    <h6 class="u-text u-text-default u-text-palette-3-base u-text-6">$7.50</h6>
                    <a href="https://nicepage.com/k/auction-website-templates" class="u-btn u-btn-rectangle u-button-style u-palette-3-base u-btn-2">buy online</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-right u-container-style u-image u-list-item u-repeater-item u-shading u-video-cover u-image-3" data-image-width="996" data-image-height="389">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-5">
                <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-35 u-video-cover u-group-3">
                  <div class="u-container-layout u-valign-middle u-container-layout-6">
                    <h4 class="u-text u-text-default u-text-7">Bacon Burger</h4>
                    <h6 class="u-text u-text-default u-text-palette-3-base u-text-8">$8.00</h6>
                    <a href="https://nicepage.com/c/art-design-html-templates" class="u-btn u-btn-rectangle u-button-style u-palette-3-base u-btn-3">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-default u-text-9">Images from <a href="https://www.freepik.com/free-photos-vectors/food" target="_blank"><b>Freepik</b>
          </a>
        </p>
      </div>
    </section>
{% endblock content %}
