{% extends "index.html" %}


{% block title %} Registro de usuarios {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="../static/style/registro.css" media="screen">
    <script src="../static/js/biojoe.js"></script>
{% endblock style %}

{% block content %}
  

    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-2791">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="650">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-29 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">Formulario de registro</h3>
                  <div class="u-expanded-width-xs u-form u-login-control u-form-1">

                    <form method="POST" source="custom" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" name="formRegistro" style="padding: 0px;" onSubmit="validar_formulario();">
                      <div class="u-form-group u-form-name">
                        <label for="nombre" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="Nombres" name="nombre" id= "username" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-group-2">
                        <label for="apellido" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="Apellidos" name="apellido" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="email" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="correo electrónico" id="email" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="direccion" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="Dirección" name="direccion" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-password">
                        <label for="password" class="u-form-control-hidden u-label"></label>
                        <input type="password" placeholder="Contraseña" name="password" id="password" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      <div class="u-form-group u-form-group-6">
                        <label for="password2" class="u-form-control-hidden u-label"></label>
                        <input type="password" placeholder="Confirmar contraseña" name="password2" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
                      </div>
                      
                      <div class="u-align-center u-form-group u-form-submit">
                        <button type="submit" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">Enviar</button>
                      </div>
                     
                    </form>
                  </div>
                  <a href="{{ url_for('login') }}" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-2">Iniciar sesion</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
